body
  font-family: "Open Sans", "Segoe UI", Verdana, Sans-serif
  font-size: 1rem
  font-style: normal
  font-variant: normal
  font-weight: 400
  line-height: 1rem

a
  &:hover
    color: #76110F
  &:active
    color: #930a09
  span
    display: inline-block
    margin-left: 0.125em
    width: 11px
    height: 11px

.navbar, .sidebar
  backdrop-filter: blur(8px)
  background-color: rgba(252, 252, 252, 0.85) !important
  background-image: url("~@source/assets/images/acrylic-noise.png") !important

  .logo
    height: 2.625rem !important
    margin: -.25rem 0

  .site-name
    display: none

  .links
    background: none !important

.sidebar-group.is-sub-group
  & > .sidebar-heading:not(.clickable)
    .arrow
      display: none

.home
  .features
    text-align: center

  .hero img
    max-width: 260px !important

  .hero .action .action-button
    padding: 0.375rem 1.125rem
    font-size: 1rem
    transition: all 250ms ease
    border-radius: 4px
    background: #005c6e
    border: none
    outline: 1px solid #0000
    outline-offset: 1px
    position: relative

    &::after
      position: absolute
      content: ''
      top: 0; left: 0; bottom: 0; right: 0
      width: 100%; height: 100%
      pointer-events: none
      border-radius: 4px
      background: linear-gradient(transparentify(#fff, 8%) 92%, transparentify(#000, 40%))
      clip-path: polygon(0% 0%, 0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%)

    &::before
      display: inline-block
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.23541 2.1919C5.2355 1.62944 4 2.352 4 3.49925V12.4995C4 13.6468 5.23546 14.3693 6.23537 13.8069L14.2356 9.30692C15.2551 8.73348 15.2551 7.26566 14.2357 6.69219L6.23541 2.1919Z' fill='%23fff'/%3E%3C/svg%3E")
      width: 1rem
      height: 1rem
      padding-right: 0.75rem
      position: relative
      top: 2px

    &:hover
      background: #09323ce6

    &:active
      background: #09323ccc

      &::after
        background: transparentify(#fff, 8%)

    &:focus-visible
      outline-color: #000

.page
  .custom-block
    &.tip
      background: #f8f8f8
      border-color: #dcdcdc

.medium-zoom--opened
  .medium-zoom-overlay
    backdrop-filter: blur(6px)
    background-color: rgba(0, 0, 0, 0.4) !important

.medium-zoom-image.medium-zoom-image--opened
  filter: drop-shadow(0 2px 21px rgba(0, 0, 0, 0.1474)) drop-shadow(0 32px 64px rgba(0, 0, 0, 0.1876))

.color-dot
  display: inline-block
  border-radius: 12px
  width: 12px
  height: 12px
  margin-right: 4px

.codepen
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid
  margin: 1em 0
  padding: 1em

* {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: -8px;
}

::-webkit-scrollbar-thumb {
  height: 180px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  background-clip: padding-box;
  transition: background-color 0.35s ease;
}

:hover::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
