$accentColor = #b20000
$textColor = #1a1a1a
$borderColor = #dcdcdc
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$navbarHeight = 3.75rem
$sidebarWidth = 18rem
$contentWidth = 920px
$homePageWidth = 1280px

$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
